<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${product.title}]]</title>
</head>
<body>
<a data-th-href="@{/catalogue/products/list}">
    &larr; <span data-th-text="#{product.create.back}"/>
</a>
<h1 data-th-text="${product.title}"></h1>
<ul>
    <li><strong data-th-text="#{product.id}"/>: <span data-th-text="${product.id}"/></li>
    <li><strong data-th-text="#{product.title}"/>: <span data-th-text="${product.title}"/></li>
    <li><strong data-th-text="#{product.description}"/>: <span data-th-text="${product.details}"/></li>
</ul>
<a data-th-href="@{/catalogue/products/{productId}/edit(productId=${product.id})}"
   data-th-text="#{product.edit.button.content}">
</a>
<form method="post" data-th-action="@{/catalogue/products/{productId}/delete(productId=${product.id})}">
    <button type="submit" data-th-text="#{product.delete.button.content}"/>
</form>
</body>
</html>