server:
  port: 8761
eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false # чтоб сервер eureka не регистрировал сам себя
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka/